.cart {
    margin-top: 100px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size:max (1vw,12px);
}

.cart-items-item{
    margin: 10px 0px;
    color: rgb(16, 15, 15);

}

.cart-items-item img{
    width: 50px;
}

.cart-items-item .cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: max(12vw, 20px);

}

.cart-total{  
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total button {
     width: 300px;
     padding: 5px;
     font-size: 25px;
     font-weight: 500;
     background-color: rgb(179, 29, 3);
     color: white;
     border: none;
     border-radius: 10px;
     cursor: pointer;
}

.cart-bottom .cart-total h1 {
    color: grey;
    font-weight: 400;
}

.cart-bottom .cart-total .cart-total-detials h2 {
    color: rgb(51, 50, 50);
    font-weight: 300;
}